.input {
  background-color: #161e1e;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search {
  font-size: 1.5rem;
  padding: 0.5rem 1rem 0.5rem 1rem;
  border-radius: 1rem;
}

.hr {
  margin: 3rem auto 2rem auto;
  width: 80%;
}
